*{
    padding: 0;
    margin: 0;
}


body{
    background-image: url("cores.jfif");
    background-repeat: none;
    background-size: auto;
    font-family: cursive;
    color: white;
}


h1{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container{
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: center;
}

img{
    border-radius: 12px;
    height: 70vh;
    width: 60vh;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
}

li{
    float: left;
}

li a{
    padding: 30px 128px;
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;
}

li img{
    height: 100%;
    width: 50px;
    margin-top: 5px;
    padding: 20px;
}

li a:hover{
    background-color: rgb(14, 14, 14);
}